{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        {{ form_row(form.username, {'attr': {'placeholder': '请输入用户名'} }) }}
        {{ form_row(form.name, {'attr': {'placeholder': '请输入姓名'} }) }}
        {{ form_row(form.email, {'attr': {'placeholder': '请输入邮箱'} }) }}
        {{ form_row(form.current_password, {'attr': {'placeholder': '请输入密码以便完成更新'} }) }}
        {{ form_row(form.save, {'attr': {'class': 'button button-rounded button-flat-action submitButtonStyle'} }) }}
        {{ form_row(form.cancel, {'attr': {'class': 'button button-rounded resetButton resetButtonStyle'} }) }}
    {{ form_end(form, {'render_rest': true}) }}
</form>
