{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        {{ form_row(form.current_password) }}
        {{ form_row(form.plainPassword) }}
    <div>
        <input type="submit" class="button button-rounded button-flat-action submitButtonStyle" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form, {'render_rest': true}) }}
</form>
