{% extends 'OnlineTestAdminBundle::admin.html.twig' %}
{% block admin_main_left %}
    <ul>
        <li><a href="#" class="button button-rounded button-flat-primary">考试结果统计</a></li> 
    </ul>
{% endblock %}
{% block function_title %}
    <span>考试结果统计信息</span>
{% endblock %}
{% block function_content %}
    <div id="paper_infor">
        <div id="paperId" hidden>{{ paper.id }}</div>
        <div class="font_examName">
            {{ paper.exam.examName }}
        </div>
        <div class="font_paperInfor">
            {{ paper.paperName }}
        </div>
        <div class="font_paperInfor">
            开始时间：{{ paper.exam.starttime|date("Y-m-d H:i") }}
            &nbsp;&nbsp;&nbsp;&nbsp;
            结束时间：{{ paper.exam.endtime|date("Y-m-d H:i") }}
        </div>
        <div class="font_paperInfor statisticsFont">
            参与考试人数：{{ records_num }}
        </div>
    </div>
    <div id="parts_area">
        {% if hasParts==0 %}
            <div id="hasParts">该试卷暂无考题块，请点击右侧功能图标进行添加。</div>
        {% else %}
            <ul>
                {% for key, part in parts %}
                    <li><a href="#Part{{ key+1 }}">Part {{ key+1 }}</a></li>
                    {% endfor %}
            </ul>
            {% for key, part in parts %}
                <div id="Part{{ key+1 }}" class="part_area">
                    {% for key, questionId in part['questions'] %}
                        <div id="question_{{ questionId }}" class="questions">
                            <span class="order_num">{{ loop.index }}</span>
                            <span class="question_infor">{% 
                    if questions[questionId].isMustSelect==1 
                                %}(必选){% 
                    else %}(可选){% endif %}({{ questions[questionId].kind }})</span>
                            <span class="question_id" hidden>{{ questionId }}</span>
                            <span class="question_isMustSelect" hidden>{{ questions[questionId].isMustSelect }}</span>
                            <span class="question_kind" hidden>{{ questions[questionId].kind }}</span>
                            <span class="question_isOptionShuffle" hidden>{{ questions[questionId].isOptionShuffle }}</span>
                            {% if questions[questionId].type == 'single_choice_no_img' %}
                                <span class="question_stem">{{ questions_content[questionId]['question_stem']|replace({' ': "&nbsp;"})|raw|nl2br  }}</span><br/>
                                {% for key1,question_option in questions_content[questionId]['question_options'] %}
                                    <pre><input  type="radio" id="question_{{ questionId }}_option_{{ key1+1 }}"  
                                name="question_{{ questions[questionId].id }}_option_radio"  
                                value="{{ key1+1 }}"  
                                class="option_radio"  
                                disabled 
                                        {% if questions[questionId].answer == (key1+1) %}{{ 'checked' }}{% endif %}/><label  for="question_{{ questions[questionId].id }}_option_{{ key1+1 }}" 
                                class="option_label1">{{ question_option }}<span class="statisticsFont">&nbsp;(选择人数：{% 
                                    if (key1+1) in questions_option_num[questionId]|keys %}{{
                                    questions_option_num[questionId][key1+1]
                                    }}&nbsp;占：{{
                                    questions_option_rate[questionId][key1+1]
                                    }}{% else %}0 &nbsp;占：0%{% endif %})</span></label></pre>
                                    {% endfor %}
                            {% elseif questions[questionId].type == 'single_choice_img'%}
                                <span class="question_stem"><span>{{ questions_content[questionId]['question_stem']|replace({' ': "&nbsp;"})|raw|nl2br }}</span>
                                    {%if questions_images[questionId][0]%}<br/><img src="/{{ questions_images[questionId][0] }}"/>{% endif %}</span><br/>
                                    {% for key1,question_option in questions_content[questionId]['question_options'] %}
                                    <pre><input  type="radio" id="question_{{ questionId }}_option_{{ key1+1 }}"  
                                name="question_{{ questionId }}_option_radio"  
                                value="{{ key1+1 }}"  
                                class="option_radio"  
                                disabled 
                                        {% if questions[questionId].answer == (key1+1) %}{{ 'checked' }}{% endif %}/><label  for="question_{{ questions[questionId].id }}_option_{{ key1+1 }}" 
                                class="option_label1"><span>{{ question_option }}<span class="statisticsFont">&nbsp;(选择人数：{% 
                                    if (key1+1) in questions_option_num[questionId]|keys %}{{
                                    questions_option_num[questionId][key1+1]
                                    }}&nbsp;占：{{
                                    questions_option_rate[questionId][key1+1]
                                    }}{% else %}0 &nbsp;占：0%{% endif %})</span></span>{% if questions_images[questionId][key1+1]!="0" and  question_option!="" %}</br>{% endif %}{%if questions_images[questionId][key1+1]%}<img src="/{{ questions_images[questionId][key1+1] }}"/>{%endif%}</label></pre>
                                {% endfor %}
                            {% elseif questions[questionId].type == 'multiple_choices_no_img' %}
                                <span class="question_stem">{{ questions_content[questionId]['question_stem']|replace({' ': "&nbsp;"})|raw|nl2br  }}</span><br/>
                                {% for key1,question_option in questions_content[questionId]['question_options'] %}
                                    <pre><input  type="checkbox" id="question_{{ questionId }}_option_{{ key1+1 }}"  
                                name="question_{{ questionId }}_option_checkbox"  
                                value="{{ key1+1 }}"  
                                class="option_radio"  
                                disabled 
                                        {% if (key1+1) in mul_choices_answers[questionId] %}{{ 'checked' }}{% endif %}/><label  for="question_{{ questionId }}_option_{{ key1+1 }}" 
                                class="option_label1">{{ question_option }}<span class="statisticsFont">&nbsp;(选择人数：{% 
                                    if (key1+1) in questions_option_num[questionId]|keys %}{{
                                    questions_option_num[questionId][key1+1]
                                    }}&nbsp;占：{{
                                    questions_option_rate[questionId][key1+1]
                                    }}{% else %}0 &nbsp;占：0%{% endif %})</span></label></pre>
                                {% endfor %}
                            {% elseif questions[questionId].type == 'short_answer_no_img'%}
                                <span class="question_stem"><span>{{ questions_content[questionId]['question_stem']|replace({' ': "&nbsp;"})|raw|nl2br }}</span></span><br/>         
                                <pre><span class="statisticsFont">&nbsp;(填写人数：{% 
                                    if 1 in questions_option_num[questionId]|keys %}{{
                                    questions_option_num[questionId][1]
                                    }}&nbsp;占：{{
                                    questions_option_rate[questionId][1]
                                    }}{% else %}0 &nbsp;占：0%{% endif %})</span></pre>
                            {% elseif questions[questionId].type == 'short_answer_img'%}
                                <span class="question_stem"><span>{{ questions_content[questionId]['question_stem']|replace({' ': "&nbsp;"})|raw|nl2br }}</span></span>         
                                {%if questions_images[questionId][0]%}<br/><img src="/{{ questions_images[questionId][0] }}"/>{% endif %}</span><br/>
                                <pre><span class="statisticsFont">&nbsp;(填写人数：{% 
                                    if 1 in questions_option_num[questionId]|keys %}{{
                                    questions_option_num[questionId][1]
                                    }}&nbsp;占：{{
                                    questions_option_rate[questionId][1]
                                    }}{% else %}0 &nbsp;占：0%{% endif %})</span></pre>
                        {% endif %}
                
            </div>

                    {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {%  javascripts
        '@OnlineTestAdminBundle/Resources/public/js/jquery-ui.js'
        '@OnlineTestAdminBundle/Resources/public/js/autoTextarea.js'
        '@OnlineTestAdminBundle/Resources/public/js/resultStatistics.js'
    %}
    <script type="text/javascript" src="{{asset_url}}"></script>
    {% endjavascripts %}
    
{% endblock %}